<div class="text-center mb-3" th:fragment="pagination">
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li th:if="${currentPage > 1}"><a
				th:href="@{${keyword != null && keyword != ''? '?keyword='+keyword+'&':'?'} + 'pageno='+${currentPage - 1}}">«</a></li>
			<li th:each="i:${#numbers.sequence(1, totalPage)}"
				th:classappend="${currentPage == i ? 'active' : ''}"><a
				th:href="@{${keyword != null && keyword != ''? '?keyword='+keyword+'&':'?'} + 'pageno=' + ${i}}"
				th:text="${i}"></a></li>
			<li th:if="${currentPage < totalPage}"><a
				th:href="@{${keyword != null && keyword != ''? '?keyword='+keyword+'&':'?'} + 'pageno='+${currentPage + 1}}">»</a></li>
		</ul>
	</nav>
</div>
