<div th:fragment="script">
	<!--   Core JS Files   -->
	<script th:src="@{/fe/js/jquery.3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/fe/js/bootstrap.min.js}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script th:src="@{/fe/js/chartist.min.js}"></script>

	<!--  Notifications Plugin    -->
	<script th:src="@{/fe/js/bootstrap-notify.js}"></script>

	<!--  Google Maps Plugin    -->
	<script type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE}"></script>

	<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script th:src="@{/fe/js/light-bootstrap-dashboard.js?v=1.4.0}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script th:src="@{/fe/js/demo.js}"></script>
</div>