<!doctype html>
<html lang="en">
<head th:replace="~{admin/layout/head::head}"></head>

<body>

	<div class="wrapper">
		<div th:replace="~{admin/layout/sidebar::sidebar}"></div>

		<div class="main-panel">
			<div th:replace="~{admin/layout/navbar::navbar}"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="header">
									<h4 class="title"
										th:text="${book.id == null} ? 'Add Book' : 'Edit Book'"></h4>
								</div>
								<div class="content">
									<form
										th:action="|${book.id == null ? '/admin/book/add' : '/admin/book/edit'}|"
										method="post" th:object="${book}" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="hidden" class="form-control"
														placeholder="Enter ID" th:value="${book.id}"
														th:field="*{id}"><label>Title</label> <input
														type="text" class="form-control" placeholder="Title"
														th:value="${book.title}" th:field="*{title}">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-8">
												<div class="form-group">
													<label for="exampleInputEmail1">Author</label> <input
														type="text" class="form-control" placeholder="Author"
														th:value="${book.author}" th:field="*{author}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="exampleInputEmail1">ISBN</label> <input
														type="text" class="form-control" placeholder="ISBN"
														th:value="${book.isbn}" th:field="*{isbn}">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-2">
												<div class="form-group">
													<label>Price ($)</label> <input type="text"
														class="form-control" placeholder="Price"
														th:value="${book.price}" th:field="*{price}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Discount</label> <input type="text"
														class="form-control" placeholder="Discount"
														th:value="${book.discount}" th:field="*{discount}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Quantity</label> <input type="text"
														class="form-control" placeholder="Quantity"
														th:value="${book.quantity}" th:field="*{quantity}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Status</label>
													<div>
														<div class="form-check form-check-inline">
															<input type="radio" class="form-check-input"
																th:field="*{enabled}" value="1" /> <label
																class="form-check-label" for="inlineRadio1">Enabled</label>
														</div>
														<div class="form-check form-check-inline">
															<input type="radio" class="form-check-input"
																th:field="*{enabled}" value="0" /> <label
																class="form-check-label" for="inlineRadio2">Disabled</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Created At</label> <input type="text"
														class="form-control" placeholder="Now"
														th:value="${book.createdAt}" th:field="*{createdAt}"
														readonly>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<label>Publisher</label>
													<div class="form-group">
														<select th:field="*{publisher}" required>
															<option th:each="publisher : ${publishers}"
																th:value="${publisher.id}"
																th:text="${publisher.publisherName}"
																th:selected="${book.publisher != null && publisher.id == book.publisher.id}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Language</label>
													<div class="form-group">
														<select th:field="*{language}" required>
															<option th:each="language : ${languages}"
																th:value="${language.id}"
																th:text="${language.languageName}"
																th:selected="${book.language != null && language.id == book.language.id}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Year of publication</label> <input type="text"
														class="form-control" placeholder="Year of publication"
														th:value="${book.yearOfPublication}"
														th:field="*{yearOfPublication}">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Number of pages</label> <input type="text"
														class="form-control" placeholder="Number of pages"
														th:value="${book.numOfPages}" th:field="*{numOfPages}">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Description</label>
													<textarea rows="5" class="form-control"
														placeholder="Description" th:value="${book.description}"
														th:field="*{description}"></textarea>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-8">
												<label for="categories">Categories</label>
												<div style="display: flex; flex-wrap: wrap; gap: 10px;">
													<div th:each="category : ${categories}"
														style="flex: 1 1 auto;">
														<label> <!-- Truyền danh sách ID category đã chọn -->
															<input type="checkbox" th:name="categoryIds"
															th:value="${category.id}"
															th:checked="${categoryIds.contains(category.id)}" /> <span
															th:text="${category.categoryName}"></span>
														</label>
													</div>
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-md-4">
												<label for="exampleInputEmail1">Add Book Images</label> <input
													type="file" name="files" accept="image/*" multiple>
											</div>
										</div>


										<button type="submit" class="btn btn-info btn-fill pull-right"
											th:text="${book.id == null} ? 'Create Book' : 'Update Book'"></button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div th:replace="~{admin/layout/script::script}"></div>

</body>
</html>
